* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 15px;
  }
  
  body {
    background-color: rgb(133, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
  }
  
  #calc {
    width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
  }
  
  #calc h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: #666;
  }
  
  #operations {
    text-align: right;
  }
  
  #previous-operation {
    color: #777;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
  }
  
  #current-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
  }
  
  #buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  
  #buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
    border-radius: 7px;
  }
  
  #buttons-container .number {
    background-color: #f3f3f3;
  }
  
  #buttons-container button:hover {
    background-color: #c0c0c0;
    border-color: rgb(187, 187, 187);
    transition: .25s;
  }
  
  #buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #913737;
  }
  
  #buttons-container #equal-btn:hover {
    grid-column: span 2;
    background-color: #813333;
  }